<ul class="list-unstyled">
  <% @questions.each do |question| %>
    <li class="media">
      <img class="mr-3" src="<%= question.gravatar %>" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1"><%= question.email %> asked</h5>
        <%= question.inputQuestion %>
      </div>
    </li>
  <% end %>
</ul>